PORT=8080
DB_PATH=./monitoring.db
JWT_SECRET=super_secret_jwt_key_monitoring_2026
STATIC_DIR=./frontend/dist
GIN_MODE=debug
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,https://monitor.siberhub.id
